<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/flowplayer.min.js"></script>
		<title>node-fluent-ffmpeg</title>
	</head>
	<body>

		<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
		<a  
			 href="/video/your_movie.avi"
			 style="display:block;width:520px;height:330px"  
			 id="player"> 
		</a> 
		
		<a  
			 href="/recup"
			 style="visibility:hidden;width:520px;height:330px"  
			 id="player2"> 
		</a> 
		
	<video id="video-source" loop autoplay width="600" height="337">
        <source src="house.mp4" type="video/mp4">

    </video>
		<!-- this will install flowplayer inside previous A- tag. -->
		<script>
			flowplayer("player", "/flowplayer.swf");
			flowplayer("player2", "/flowplayer.swf");
		</script>
	</body>
</html>